.politica-privacidad-section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: justify;
    word-break: break-word;
}

.politica-privacidad-section > p{
    color:#420328;
}

.politica-privacidad-titulo{
    color: #b80c46;
    text-align: left;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.politica-privacidad-div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: smaller;
}

.politica-privacidad-div > p{
    color:#420328;
}

.politica-privacidad-h3{
    margin-bottom: 0.5rem;
    color: #ff9966;
}

@media (min-width: 768px){
    .politica-privacidad-section{
        font-size: large;
    }
    .politica-privacidad-div{
        font-size: medium;
    }
}

@media (min-width: 1024px){
    .politica-privacidad-section{
        font-size: medium;
        padding: 4rem;
    }
    .politica-privacidad-div{
        font-size: smaller;
    }
}



