.historia-section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.historia-titulo{
    text-align: left;
    margin-bottom: 1rem;
    color: #b80c46;
}

.historia-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.historia-info{
    color: #420328;
    text-align: justify;
}

.historia-span{
    font-weight: 600;
    color: #ff9966;
}

.historia-span-naranja{
    font-weight: 600;
    
}
.foto-container{
    width: 80vw;
}
.foto{
    width: 80vw;
    border-radius: 5px;
    object-fit: contain;
}

@media (min-width: 768px) {

    .historia-content{
        display: grid;
        grid-template-areas: 
        "p1 foto" 
        "p2 foto"
        "p3 p3";
        grid-template-columns: 40vw 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem;
    }

    .foto-container{
        width: 100%;
        grid-area: foto;
    }

    .foto{
        width: 100%;
    }

    .p1{
        grid-area: p1;
    }

    .p2{
        grid-area: p2;
    }

    .p3{
        grid-area: p3;
        text-align: center;
    }

}

@media (min-width: 800px){
    .foto-container{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .foto{
        width: 90%;
    }
}

@media (min-width: 800px){
    .foto-container{
        width: 80%;
    }

    .foto{
        width: 80%;
    }
}
@media (min-width: 1024px){

    .historia-content{
        grid-template-areas: 
        "p1 foto" 
        "p2 foto"
        "p3 foto";
        grid-template-columns: 70vw 1fr;
        column-gap: 2rem;
        row-gap: 0;
        font-size: medium;
    }

    .p1, .p2, .p3{
        padding-left: 4rem;
        background-color: rgba(248, 232, 211, 0.253);
        padding-right: 4rem;
        padding-bottom: 1rem;
        height: 100%;
    }

    .foto-container{
        width: 100%;
    }

    .foto{
        width: 100%;
    }

    .p1{
        padding-top: 4rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .p3{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom: 4rem;
    }

}

@media (min-width: 1400px){
    .historia-content{
        grid-template-rows: 10rem;
    }
    .p1, .p2, .p3{
        padding-bottom: 0;
    }
}