.disclaimer-section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap:2rem;
    justify-content: center;
    align-items: center;
}

.disclaimer-div{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.disclaimer-ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.disclaimer-span{
    font-weight: 600;
    color: #b80c46;
}

@media (min-width: 768px){
    .disclaimer-section{
        font-size:x-large;
        gap:3rem;
    }
}

@media (min-width: 1440px){
    .disclaimer-section{
        font-size:xx-large;
        gap:3rem;
    }
}