.cartel-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.artists-iframes{
    border: none;
}

.left-div{
    display: none;
}

.right-div{
    display: none;
}
.cartel-btn{
    border: none;
    height: 85vh;
    background-color: transparent;
}

.cartel-container-full{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: #420328;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.cartel-img{
    object-fit: contain;
    width: 90vw;
    height: 85vh;
    filter: drop-shadow( 0px 3px 4px #fb3d56);
    cursor: pointer;
}

.cartel-img-full{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.download-btn-container{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
}

.exit-btn-container{
    display: flex;
    padding: 0.5rem 0;
    justify-content: right;
}

.download-btn{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    background-color: #ffd2b1;
    color: #420328;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 14px;
    font-weight: 600;
}

.exit-btn{
    border: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 14px;
}


@media (min-width: 480px) {

    .cartel-img-full{
        height: 80%;
    }
}

@media (min-width: 512px) {

    .cartel-img{
        width: 80vw;
    }
}

@media (min-width: 582px) {

    .cartel-img{
        width: 70vw;
    }
}

@media (min-width: 670px) {

    .cartel-img{
        width: 60vw;
    }
}

@media (min-width: 768px) {
    .cartel-section{
        padding: 2rem;
    }

    .cartel-btn{
        height: 75vh;
    }

    .cartel-img{
        height: 75vh;
    }

    .cartel-container-full{
        width: 100vw;
        height: 100vh;
    }

    .cartel-img-full{
        width: 100%;
        height: 75%;
        object-fit: contain;
    }

    .download-btn{
        padding: 1rem 1.5rem;
        border-radius: 14px;
        font-size: large;
    }

    .exit-btn{
        padding: 1rem 1.5rem;
    }

    .download-btn-container{
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
}

@media (min-width: 1024px){

    .cartel-container-full{
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 90vh;
        border: none;
        background-color: #420328;
        position: absolute;
        top: 3vh;
        left: 25vw;
        z-index: 5;
        border-radius: 14px;
        box-shadow: 0px 5px 8px 0px #4203288a;
        backdrop-filter: blur(10px);
    }

    .cartel-btn{
        width: 50vw;
    }

    .cartel-img{
        width: 50vw;
    }

    .cartel-img-full{
        width: 100%;
        height: 80%;
        object-fit: contain;
    }

    .download-btn{
        padding: 0.7rem 1.2rem;
        border-radius: 14px;
        font-size: medium;
        cursor: pointer;
    }

    .download-btn > svg{
        width: 20px;
    }

    .exit-btn-container{
        height: 3rem;
    }

    .exit-btn{
        padding: 1rem 1.5rem;
        cursor: pointer;
    }

    .exit-btn > svg{
        width: 20px;
    }

    .download-btn-container{
        padding: 0;
        padding-top: 0.5rem;
    }

    .left-div, .right-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        background-color: #f8b47044;
        padding: 2rem;
        border-radius: 14px;
    }

}