@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

.section-home{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 50vw;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.contador-div{
    display: flex;
    gap: 1rem;
    color: #ffffff8a;
    background-color: #fb3d5649;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 2rem;
}

.contador-span{
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff70;
}

.contador-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 0.5rem;
}

.home-video-div{
    position: fixed;
    z-index: -1;
}

.clear{
    display: none;
}

@media (min-width: 750px) {
    .contador-div{
        height: 3rem;
        padding: 2rem;
    }

    .contador-p{
        font-size: 1rem;
    }

    .contador-span{
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px){

    .contador-div{
        height: 2rem;
        padding: 1rem;
    }

    .contador-p{
        font-size: 0.5rem;
    }

    .contador-span{
        font-size: 1rem;
    }

    .video-home{
        width: 2048px;
    }

}
