.camping-section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
}

.camping-titulo{
    color: #b80c46;
    text-align: left;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.camping-article{
    color: #420328;
    text-align: justify;
    word-break: break-word;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.camping-ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.ul-bonos{
    display: flex;
    justify-content: center;
}

.camping-ul > li{
    display: flex;
    gap: 0.2rem;
}

.camping-ul > li::before{
    content: url('/check.svg');
    align-self: baseline;
}

.camping-span{
    color: #b80c46;
    font-weight: bolder;
}

.camping-bono{
    color: whitesmoke;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    background-color: #b80c46;
    width: fit-content;
    cursor: pointer;
}

.camping-h3{
    color: #b80c46;
    margin-top: 1rem;
    text-align: left;
}

.acordeon .contenedor {
    position: relative;
    margin: 10px 10px;
}

.acordeon .label {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.acordeon .label::before {
    content: url('/expand.svg');
    color: #b80c46;
    position: absolute;
    top: 80%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}

.acordeon .content {
    position: relative;
    height: 0;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
}

.content{
    margin-bottom: 0.5rem;
}

.acordeon .contenedor.activa .content {
    height:fit-content;
}

.acordeon .contenedor.activa .label::before {
    content: url('/expandless.svg');
}

.resaltado{
    font-weight: 600;
    color:#ff9966;
}

.camping-ul > li > p{
    text-justify: justify;
    word-break: break-word;
}

.important-container{
    display: flex;
    flex-direction: column;
}

.contenedor{
    display: flex;
    flex-direction: column;
    border-bottom:1px solid #b80c46;
    margin: 0;
}

@media (min-width: 768px){
    .camping-section{
        font-size: larger;
    }
}

@media (min-width: 1024px){

    .camping-section{
        font-size: large;
    }

    .react-player{
        display: flex;
        width: 95vw;
        height: 60vh;
        border-radius: 14px;
    }

    .video-camping{
        width: 100vw;
        height: 60vh;
        object-fit: cover;
    }

    .camping-article{
        font-size: medium;
    }

}
