.footer{
    background-color: #ff9966;
    padding: 0.5rem;
}

.none{
    display: none;
}

.footer-nav{
    display: flex;
    justify-content: space-around;
}

.footer-rrss-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svg-rrss{
    fill: #ffd2b1;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.svg-rrss:hover{
    fill: #420328;
}

.footer-conditions-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-conditions-ul > li{
    font-size: small;
    font-weight: 400;
}

@media (min-width: 768px) {
    .footer-nav{
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .footer-conditions-ul > li{
        padding: 0.3rem;
        font-size: medium;
    }

    .footer-rrss-ul{
        gap: 1rem;
    }

    .footer-rrss-ul > li > a > svg{
        width: 42px;
        height: 42px;
    }

}

@media (min-width: 1024px) {

    .footer{
        height: 10vh;
        display: flex;
        align-items: center;
    }

    .footer-nav{
        padding: 0;
        width: 100vw;
        justify-content: space-around;
    }

    .footer-conditions-ul {
        gap: 3rem;
        flex-direction: row;
    }

    .footer-conditions-ul > li{
        font-size: medium;
    }

    .footer-rrss-ul{
        gap: 2rem;
        flex-direction: row;
    }

    .footer-rrss-ul > li{
        width: 2rem;
        height: 2rem;
    }

}
