.footer{
    background-color: #ff9966;
    padding: 0.5rem;
}

.none{
    display: none;
}

.footer-nav{
    display: flex;
    justify-content: space-around;
}

.footer-rrss-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg-rrss{
    fill: #ffd2b1;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.svg-rrss:hover{
    fill: #420328;
}

.footer-conditions-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-conditions-ul > li{
    color: #ffd2b1;
    font-weight: 400;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.footer-conditions-ul > li:hover{
    color: #420328;
    font-weight: 400;
}

@media (min-width: 768px) {
    .footer-nav{
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .footer-conditions-ul > li{
        padding: 0.3rem;
        font-size: large;
    }

}

@media (min-width: 1024px) {

    .footer-nav{
        justify-content: space-between;
    }

    .footer-conditions-ul {
        gap: 3rem;
        flex-direction: row;
    }

    .footer-conditions-ul > li{
        font-size: large;
    }

    .footer-rrss-ul{
        gap: 1rem;
        flex-direction: row;
    }

}
