.taquilla-section{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.taquilla-btn{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #b80c46;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.taquilla-btn:hover{
    background-color: #fb3d57;
}