@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sulphur Point", sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #ffd1b14b;       
}

body::-webkit-scrollbar-thumb {
    background-color: #fb3d56dc;
    border-radius: 5px;
    /* border: 2px solid #ff9966; */
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
}
