@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sulphur Point", sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #fb3d563f;       
}

body::-webkit-scrollbar-thumb {
    background-color: #fb3d56dc;
    border-radius: 5px;
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
    color: #ffd2b1;
    cursor: pointer;
    transition: all 200ms ease-out;
}

a:visited{
    color: #ffd2b1;
}

a:hover{
    color: #420328;
}
