.embla {
  width: 100vw;
  height: fit-content;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  gap: 0.5rem;
}
.embla__slide {
  flex: 0 0 0.5rem;
  width: fit-content;
  position: relative;
}
.embla__slide__img {
  display: block;
  width: 60vw;
  height: 40vh;
  object-fit: contain;
}

.embla__button {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__buttons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
  transform: translateY(-50%);
  left: 32%;
}
.embla__button {
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
}
.embla__button:disabled {
  opacity: 0.3;
}
.embla__button__svg {
  width: 65%;
  height: 65%;
}

@media (min-width: 760px){
  .embla__slide__img {
    width: 50vw;
    height: 39vh;
  }

  .embla__buttons {
    left: 42%;
  }

  .embla__button__svg {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1024px){
  .embla__slide__img {
    width: 17vw;
    height: 45vh;
  }

  .embla__buttons {
    left: 45%;
    bottom: -30%;
  }

  .embla__button__svg {
    width: 70%;
    height: 70%;
  }

}